img.header-img {
    width: 750px;
    max-height: 195px;
}
img.icon-img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border:solid 1px #ccc;
    padding:4px;
    background-color: #ffffff;
}
table.mypage-table {
    width:750px;
    min-height: 260px;
    margin-top:-100px;
    margin-right:100px;
    margin-left:100px;
    padding-left:260px;
    background: #FFFFFF;
}
table.mypage-table td.name-size {
    font-size: 120%;
    color: 	#444444;
    vertical-align: bottom;
    padding-bottom:10px;
}

table.mypage-table td.name-size2 {
    font-size: 120%;
    color: 	#444444;
    vertical-align: bottom;
}

table.mypage-table td.name-size3 {
    font-size: 120%;
    color: 	#444444;
    vertical-align: bottom;
    padding-top:10px;
}

table.mypage-table td.space {
    margin-left: 100px;
    padding-left: 30px;
    vertical-align: bottom;
}

table.mypage-table td.space2 {
    margin-left: 100px;
    padding-left: 30px;
    vertical-align: top;
    padding-bottom:15px;
}

.user-size{
    font-size: 200%;
    color: 	#FFFFFF;
}

td.event-size{
    font-size: 120%;
    color: #FF8C00;

}
table.event {
    margin-top: 0px;
    margin-left: 30px;
}

table.event td.event2 {
    padding-left: 20px;
}

div.myback {
    background-image: url(../img/my_myback.jpg);
    background-position: 100px 40px;
    background-position: 30% 60%;
}

hr.style-line {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
    margin-left: 0px;
}
#title {
    font-size: 160%;
    font-weight: bold;
    background: #DA70D6;
    border: none;
    color: #ffffff;
    text-align: center;
}

#title2 {
    position:absolute;
    left:285px;top:635px;
    background-color:#DA70D6;
    border: none;
    color:#fff;
    font-size:x-large;
}

#title3 {
  position:absolute;
  left:275px;top:650px;
  background-color:#DA70D6;
  border: none;
  color:#fff;
  font-size:x-large;
  width: 100px;
  padding: -1px 8px 4px 5px;
}

#title4 {
  position:absolute;
  left:380px;top:650px;
  background-color:#DA70D6;
  border: none;
  color:#fff;
  font-size:x-large;
  width: 100px;
  padding: 5px 8px 5px 5px;
}

#mypage {
    background: #FFFFFF;
    padding: 0 1em;
    max-width: 700px;
    height: 250px;
}

#mypage_detail {
    background: #FFFFFF;
    padding: 0 1em;
    max-width: 700px;
    height: 330px;
    margin: -20px;
    padding: 20px;
}
