img.header-img {
    width: 64%;
    max-height: 175px;
}
img.icon-img {
    width: 180px;
    height: 180px;
}
td.name-size {
font-size: 120%;
}

td.space {
  margin-left: 100px;
  padding-left: 50px;
}

button.btn {
	background-color: #59b1eb;
	color: #fff;
}
button.btn:hover {
	background-color: #1E90FF;
}
