table.contact {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
}



table td.left {
    vertical-align: top;
    text-align: right;  
}

table td.right {
    text-align: left;

}

p.error {
    color: red;
}

p.transmission {
    font-size: 20px;
}