img.header-img {
    width: 750px;
    height: 200px;
}

img.icon-img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border: solid 1px #ccc;
    padding: 4px;
    background-color: #ffffff;
}

table.mypage-table {
    width: 750px;
    min-height: 260px;
    margin-top: -100px;
    margin-right: 100px;
    margin-left: 100px;
    padding-left: 260px;
    background: #FFFFFF;
}
table.mypage-table td.name-size {
    font-size: 120%;
    color: #444444;
    vertical-align: bottom;
    padding-bottom: 10px;
}

table.mypage-table td.name-size2 {
    font-size: 120%;
    color: #444444;
    vertical-align: bottom;
}

table.mypage-table td.name-size3 {
    font-size: 120%;
    color: #444444;
    vertical-align: bottom;
    padding-top: 10px;
}

table.mypage-table td.space {
    margin-left: 100px;
    padding-left: 30px;
    vertical-align: bottom;
}

table.mypage-table td.space2 {
    margin-left: 100px;
    padding-left: 30px;
    vertical-align: top;
    padding-bottom: 15px;
}

.username-size{
    font-size: 200%;
    color: #FFFFFF;
}

table.event-table {
    width: 750px;
    margin-top: 30px;
}

table.event-table td.white {
    background: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 200px;
}

.user-size{
    font-size: 200%;
    color: #FFFFFF;
}

td.event-size{
    font-size: 120%;
    color: #FF8C00;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 5px;

}

.event-btn {
    text-align: center;
    background: #FFFFFF;
}

img.my_ed {
    width: 75px;
    height: 35px;
}

table.event {
    margin-top: 0px;
    margin-left: 30px;
}

table.event td.event2 {
    padding-left: 20px;
}

div.myback {
    background-image: url(../img/my_myback.jpg);
    background-position: 100px 40px;
    background-position: 30% 60%;
}

hr.style-line {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    margin-left: 0px;
}
#title {
    font-size: 160%;
    font-weight: bold;
    background: #DA70D6;
    border: none;
    color: #ffffff;
    text-align: center;
}

#title2 {
    position: absolute;
    left: 285px;
    top: 635px;
    background-color: #DA70D6;
    border: none;
    color: #fff;
    font-size: x-large;
}

#title3 {
    position: absolute;
    left: 315px;
    top: 600px;
    background-color: #7F7F7F;
    border: none;
    color: #fff;
    font-size: x-large;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Sans-Serif;
}

#title4 {
    position: absolute;
    left: 315px;
    top: 670px;
    width: 117px;
    background-color: #7F7F7F;
    border: none;
    color: #fff;
    font-size: x-large;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Sans-Serif;
}

#title5 {
    position: absolute;
    left: 305px;
    top: 610px;
    background-color: #7F7F7F;
    border: none;
    color: #fff;
    font-size: x-large;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Sans-Serif;
}

#mypage {
    background: #FFFFFF;
    padding: 0 1em;
    max-width: 700px;
    height: 250px;
}

#mypage_edit {
    background: #FFFFFF;
    padding: 0 1em;
    width: 710px;
    margin: -20px;
    padding: 20px;
}

table.detail-user {
    position: absolute;
    margin-left: 485px;
    margin-top: -5px;
}

table.detail-table {
    min-height: 250px;
    margin-left: 200px;
    margin-top: -280px;
}

table.detail-table td.name-size {
    font-size: 120%;
    color: #444444;
    vertical-align: bottom;
    width: 60px;
}

table.detail-table td.name-size2 {
    font-size: 120%;
    color: #444444;
    vertical-align: bottom;
    width: 100px;
    padding-top: 15px;
}


table.detail-table td.space {
    margin-left: 100px;
    padding-left: 30px;
    vertical-align: bottom;
}

table.detail-table td.space2 {
    margin-left: 100px;
    padding-left: 30px;
    vertical-align: top;
}

table.detail-table td.head-icon {
    padding-top: 25px;
    font-size: 15px;
}

p.user-name {
    position: absolute;
}

table.conf-table {
    width: 750px;
    min-height: 320px;
    margin-top: -400px;
    margin-right: 100px;
    margin-left: 100px;
    padding-left: 260px;
    background: #FFFFFF;
}
table.conf-table td.name-size {
    font-size: 120%;
    color: #444444;
    vertical-align: bottom;
}

table.conf-table td.name-size2 {
    font-size: 120%;
    color: #444444;
    vertical-align: bottom;
    width: 100px;
    padding-top: 10px;
}

table.conf-table td.space {
    margin-left: 100px;
    padding-left: 30px;
    vertical-align: top;
}

table.conf-table td.space2 {
    margin-left: 100px;
    padding-left: 30px;
    vertical-align: top;
}

table.conf-table td.space3 {
    margin-left: 100px;
    padding-left: 30px;
    vertical-align: top;
    height: 10px;
}
